<div class="row mb-2">
    <label>Title</label>
    <input type="text">
</div>
<div class="row mb-2">
    <label class="col col-3">Production year after</label>
    <input
        type="number"
        class="col"
        placeholder="Year between 1900 and 2018">
</div>
<div class="row mb-2">
    <label class="col col-3">Production year before</label>
    <input
        type="number"
        class="col"
        placeholder="Year between 1900 and 2018">
</div>
<div class="row mb-2">
    <label>Cast</label>
    <input
        type="text"
        placeholder="First name and last name">
</div>
