{
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSameLine": false,
    "semi": true,
    "bracketSpacing": true,
    "bracketLine": true,
    "singleAttributePerLine": true
}
