<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container container-xxl">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
                <a
                    routerLink="/products"
                    routerLinkActive="true"
                    class="nav-link"
                    [ngClass]="{ active: this.router.url === '/products' }">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a
                    routerLink="/"
                    class="nav-link"
                    [ngClass]="{ active: this.router.url === '/' }">
                    Cart
                </a>
            </li>
            <li class="nav-item">
                <a
                    routerLink="/"
                    class="nav-link"
                    [ngClass]="{ active: false }">
                    Orders
                </a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row flex-wrap">
            <li class="nav-item">
                <a
                    routerLink="/"
                    class="nav-link">
                    Login
                </a>
            </li>
        </ul>
    </div>
</nav>
